@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f9; /* Neutral light background */
  --foreground: #171717; /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Text color for dark mode */
  }
}



/* h2 { */
  /* background: linear-gradient(to right, #3b82f6, #7c3aed, #ec4899);  */
  /* -webkit-background-clip: text; */
  /* color: transparent; */
/* } */




/* Styling for cards to achieve a slightly colored box */
.card {
  background: rgba(250, 253, 254, 0.9); /* Slightly colored box */
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px); /* Slight hover effect */
}


/* globals.css */
.card {
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
}

.section {
  margin: 16px 0;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.real-time-alerts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 16px; /* Add space between scrollbar and content */
}

